<h2 align="center">Listing all categories </h2>
<div align="center">
  <%= will_paginate @categories%>
</div>
<% @categories.each do |category| %>
  <ul class="listing">
    <div class="row">
      <div class="well col-xs-4 col-xs-offset-4 list-unstyled center">
        <li class="article-title">
          <%= link_to "#{category.name}", category_path(category) %>
        </li>
        <li class="col-xs-4 col-xs-offset-4">
          <small><%= pluralize(category.articles.count, "article")%></small>
        </li>
        <% if logged_in? && current_user.admin? %>
        <li><span class="btn"><%= link_to "Edit Category Name", edit_category_path(category)%></span></li>
        <% end %>
      </div>
    </div>
  </ul>
<% end %>
<div align="center">
  <%= will_paginate @categories%>
</div>
